<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="/javascripts/fileUpload.js"></script>
    <title>Inventory App</title>
 
</head>
<body>
    <%- include('_header') %>
  
    <div class="container">
 
        <h1 class="mb-4">GO BELI STORE INVENTORY</h1>
        <a href="/product/new" class="btn btn-success">New Product</a><br><br>


<table id="productindextable" class="table table-light table-striped table-bordered table-hover">
<tbody>
    <tr>
            <th>Title</th>
            <th>Product Description</th>
            <th>Created At</th>
            <th>Quantity On Hand</th>
            <th>Restock Date & Quantity</th>
            <th>Remarks</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
    </tr>

                    <% products.forEach(product =>  { %> 
                   
        
                       
                    
                            <tr>
                                <td><%= product._id %></td>
                                <td><%= product.description %></td>
                                <td> <%= product.createdAt.toLocaleDateString() %></td>
                                <td> <%= product.quantityonhand %> </td>
                                <td><%= product.restock %> </td>
                                <td><%= product.remarks %> </td>
                          

                               <td><a href="product/<%= product.id %>" class="btn btn-primary">View</a></td>
                               <td><a href="/product/edit/<%= product.id %>" class="btn btn-info">Edit</a></td>
                               <td>    
                                <form action="/product/<%= product.id %>?_method=DELETE" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form></td>
                            </tr>
                            <%})%>
                            </tbody>
                            </table>

                      
                       
                  
                </div>
            </div>
        </div>


          </form>

          <button onclick="exportTableToExcel('productindextable')">Export Table Data To Excel File</button>

          <input type="button" id="btnExport" value="Export" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
  
          <script type="text/javascript">
            $("body").on("click", "#btnExport", function () {
                html2canvas($('#productindextable')[0], {
                    onrendered: function (canvas) {
                        var data = canvas.toDataURL();
                        var docDefinition = {
                            content: [{
                                image: data,
                                width: 500
                            }]
                        };
                        pdfMake.createPdf(docDefinition).download("output.pdf");
                    }
                });
            });
        </script>
        
        <script>
            function exportTableToExcel(productindextable, filename = ''){
                var downloadLink;
                var dataType = 'application/vnd.ms-excel';
                var tableSelect = document.getElementById(productindextable);
                var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
                
                // Specify file name
                filename = filename?filename+'.xls':'excel_data.xls';
                
                // Create download link element
                downloadLink = document.createElement("a");
                
                document.body.appendChild(downloadLink);
                
                if(navigator.msSaveOrOpenBlob){
                    var blob = new Blob(['\ufeff', tableHTML], {
                        type: dataType
                    });
                    navigator.msSaveOrOpenBlob( blob, filename);
                }else{
                    // Create a link to the file
                    downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
                
                    // Setting the file name
                    downloadLink.download = filename;
                    
                    //triggering the function
                    downloadLink.click();
                }
            }
            </script>
</body>
</html>